@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(120deg, #775ae6, #a500de);

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 80%;
  width: 45%;

  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;

  height: 30%;
  width: 90%;

  border-radius: 10px;

  letter-spacing: 3px;
}

.content span {
  font-size: 3.75rem;
  font-weight: bold;
}

.content span.time {
  font-size: 0.8125rem;
  font-weight: lighter;

  letter-spacing: 5px;
}

@media (min-width: 650px) {
  .container {
    flex-direction: row;

    height: 35%;
    width: 70%;
  }

  .content {
    height: 90%;
    width: 30%;
  }
}
